@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/*** Navbar ***/
.nav-item{
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-item{
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
}

/*** Footer ***/
.my_footer{
    background-color: #6cdee0;
    color: red;
    font-family:Akaya Kanadaka;
    height: 3em;
}

.my_footer p{
    padding-top: 1em;
    font-size: 0.875em;
}

/*** Category Page ***/
.my_row{
    padding-top: 1em;
}

.my_row .mx-auto{
    color: #000;
    font-size:0.75em;
}

.my_image{
    width: 100%;
    height: auto;
}

.my_title{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*** Product Page ***/
.my_prod_title{
    letter-spacing: 0.25em;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*** Cart Page ***/
.my_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: f8f8fa !important;
}

.custom_icon{
    text-decoration: none;
    color: 868e96 !important
}